.logoBlanco {
  display: inline-block;
}

#seccion1 {
  position: fixed;
  z-index: 2;
  width: 100%;
}

ul {
  display: inline-block;
  float: right;
  margin-right: 15%;
}

#logo {
  display: inline-block;
}

nav {
  width: 100%;
  display: inline-block;
}

.menu-li {
  display: inline;
  margin: 2%;
  font-size: 1em;
  list-style: none;
  color: white;
}
.menu-li:hover{
  color: #FF00BF;
}

.textoNegro {
  display: inline;
  margin: 20px;
  font-size: 20px;
  list-style: none;
  color: black;
}

#login {
  display: none;
  font-family: inherit;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  border-radius: 8px;
  padding: 7px;
  width: 90px;
  position: absolute;
  right: 8px;
  top: 10px;
}

#login:hover {
  color: #FF00BF;
  opacity: .2;
}


/*Seccion 3-5*/

#texto {
  color: white;
    position: relative;
    display: inline-block;
    margin-top: 40%;
    margin-left: 6%;
    font-size: 2rem;
    margin-bottom: 10%;
}

#imagenTelefono {
  display: inline-block;
position: absolute;
top: -24%;
left: 192%;
}

.seccion-textos {
  display: inline-block;
  width: 310px;
  height: 506px;
  text-align: left;
}

.p1 {
  float: left;
}

.imgV {
  display: inline;
  width: 900px;
  height: 506px;
  position: relative;
  padding: 0;
}

.der {
  float: right;
}

.parrafos {
  font-size: 120%;
}

.alinearI {
  margin-left: 30px;
}

.alinearD {
  margin-right: 50px;
}


/* Estilo seccion2 */

#seccion2 {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #6c1d86;
}

#imagen-seccion2 {
  background-image: url(fondos/homepage-lyft.jpg);
  background-size: cover;
  background-repeat: round;
  width: 100%;
  height: 50%;
  position: absolute;
}

#contenedor-formulario {
  width: 40%;
      height: auto;
      background-color: white;
      position: absolute;
      padding: 1.5%;
      right: 0%;
      top: 220px;
}

#seccion2 h1 {
    color: #352384;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.esconderFormulario {
  display: none;
}
.extenderFormulario{
  display: inline-block;
}

#seccion2 span {
  display: block;
  margin: 0;
  color: #352384;
  font-size: 15px;
}

#seccion2 a {
    color: #ff00bf;
    text-decoration: none;
}
#ponerSubrayado{
  color: #ff00bf;
}

#seccion2 .linea {
  width: 350px;
  margin-bottom: 15px;
}

#seccion2 input.salto{
    display: block;
    width: 496px;
}
#seccion2 input{
    margin: 20px 0px 20px 0px;
    border: 0px;
    border-bottom: 1px solid black;
    font-size:20px;
    color: #bfc7d9;
}

#seccion2 p {
  font-size: 11px;
}

.terminos{
  display: block;
}

.boton-rosa {
  background-color: #ff00bf;
  border-radius: 10px;
  font-size: 20px;
  border: 0px;
  padding: 17px;
  font-family: inherit;
  font-weight: 100;
  display: inline-block;
  color: white;
  width: 200px;
}

.boton-nada {
  font-family: inherit;
  font-size: 20px;
  border: 0px;
  color: #728099;
  background: none;
  margin-left: 20px;
  text-decoration: underline;
}


/*seccion6*/

#seccion6 {
  clear: both;
}

.producto {
  display: inline-block;
  margin-left: 90px;
  padding: 40px;
  width: 500px;
  text-align: justify;
}

.noticias {
  display: inline-block;
  margin-right: 90px;
  padding: 40px;
  width: 500px;
  text-align: justify;
}

.titulo6 {
  font-size: 15px;
  font-weight: bold;
}

.tema6 {
  font-size: 25px;
  font-weight: bold;
}

.resumen6 {
  font-size: 20px;
  font-weight: lighter;
}

#seccion7 {
  margin-top: 100px;
  background-color: #352384;
  margin-bottom: 0px;
}

.pinUbicacion {
  position: relative;
  left: 200px;
  top: -50px;
}

.contenidoUbicacion {
  width: 700px;
  position: relative;
  text-align: justify;
  left: 800px;
  bottom: 400px;
}

.tituloUbicacion {
  font-size: 35px;
  color: white;
}

.pUbicacion {
  font-size: 20px;
  color: #9E99A4;
}

.aUbicacion {
  text-decoration: none;
  color: #FF00BF;
}


/*Estilos footer*/

.seccion8 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #333447;
}

.columna {
  float: left;
  display: inline-block;
  margin: 30px 0px 0px 0px;
  width: calc((100%-1%)/5);
}

.columna>li {
  display: block;
}

.columna>li>a {
  color: white;
  text-decoration: none;
}

.columna>li>a:hover {
  color: #FF00BF;
}

.columna>li>img {
  width: 167px;
  height: 50px;
}

.redes {
  clear: both;
  width: 34%;
  margin: 0 auto;
}

.redes>img {
  width: 30px;
  height: 30px;
  display: inline-block;
  float: left;
  margin-left: 65px;
}

.redes hr {
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  clear: both;
}

.limpiar {
  clear: both;
  height: 50px;
}
